<head>
<link href="/Users/takoshin/studio-mission/app/assets/stylesheets/application.scss" rel="stylesheet"/> 
</head>

<section class="hero is-dark">
  <div class="hero-body, is-small">
    <div class="container">
      <h1 class="title has-text-grey-light is-size-2">
        定期予約
      </h1>
      <div class="search-form">
        <%= form_with(scope: :search, url: reservations_path, method: :get, local: true) do |f| %>
          <div class="field">
            <span>
              <%= f.label(:room, "部屋番号") %>
            <%= f.select :room, [["U01","U01"], ["U02","U02"],["U03","U03"],["U04","U04"],["U05","U05"],["U06","U06"],["U07","U07"],["U08","U08"],["U09","U09"],["U10","U10"],["U11","U11"],["701","701"],["702","702"],["703","703"],["704","704"],["801","801"],["802","802"],["803","803"],["804","804"],["805","805"],["806","806"],["807","807"],["808","808"],["809","809"],["810","810"],["811","811"],["812","812"],["813","813"],["814","814"],["815","815"],["901","901"],["902","902"],["903","903"],["904","904"],["905","905"],["906","906"],["907","907"],["908","908"],["909","909"],["910","910"]], selected: @search_params[:room], include_blank: '選択' %>
            </span>
            <span>
            <%= f.select :day_of_week, [["月","月"], ["火","火"],["水","水"],["木","木"],["金","金"],["土","土"],["日","日"]], selected: @search_params[:day_of_week], include_blank: '選択' %>
            <%= f.label(:day_of_week, "曜日") %>
            </span>
            <span>
              <%= f.label(:time_s, "予約時間") %>
            <%= f.select :time_s, [["9:00","9:00"],["9:30","9:30"],["10:00","10:00"],["10:30","10:30"],["11:00","11:00"],["11:30","11:30"],["12:00","12:00"],["12:30","12:30"],["13:00","13:00"],["13:30","13:30"],["14:00","14:00"],["14:30","14:30"],["15:00","15:00"],["15:30","15:30"],["16:00","16:00"],["16:30","16:30"],["17:00","17:00"],["17:30","17:30"],["18:00","18:00"],["18:30","18:30"],["19:00","19:00"],["19:30","19:30"],["20:00","20:00"],["20:30","20:30"],["21:00","21:00"],["21:30","21:30"],["22:00","22:00"],["22:30","22:30"],["23:00","23:00"],["23:30","23:30"],["24:00","24:00"]], selected: @search_params[:time_s], include_blank: '開始時刻' %>
            </span>
            <span>〜</span>
            <span>
           <%= f.select :time_e, [["9:00","9:00"],["9:30","9:30"],["10:00","10:00"],["10:30","10:30"],["11:00","11:00"],["11:30","11:30"],["12:00","12:00"],["12:30","12:30"],["13:00","13:00"],["13:30","13:30"],["14:00","14:00"],["14:30","14:30"],["15:00","15:00"],["15:30","15:30"],["16:00","16:00"],["16:30","16:30"],["17:00","17:00"],["17:30","17:30"],["18:00","18:00"],["18:30","18:30"],["19:00","19:00"],["19:30","19:30"],["20:00","20:00"],["20:30","20:30"],["21:00","21:00"],["21:30","21:30"],["22:00","22:00"],["22:30","22:30"],["23:00","23:00"],["23:30","23:30"],["24:00","24:00"]], selected: @search_params[:time_e], include_blank: '終了時刻' %>
            </span>
            <span>
              <%= f.submit '検索' %>
            </span>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
</section>

<% if @reservations %>  
  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <% @reservations.each do |reservation| %>
          <div class="column is-4">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <div class="body"><%=link_to reservation.customer.number, reservation_path(reservation) %>:<%=link_to reservation.customer.customername, reservation_path(reservation) %></div>
                    <div class="body"><%= reservation.count %><%= reservation.day_of_week %>曜日</div>
                    <div class="body"><%= reservation.time_s %>〜<%= reservation.time_e %></div>
                    <div class="body">部屋:<%= reservation.room %></div>
                    <% if reservation.option.blank? == false %>
                      <div class="body">OP:<%= reservation.option %>×<%= reservation.number_of_option %></div>
                      <div class="body">OP2:<%= reservation.option1 %>×<%= reservation.number_of_option1 %></div>
                    <% end %>
                  </div>
                </div>

                <div class="content">
                  <time><%= reservation.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
