<section class="hero is-dark is-small">
  <div class="hero-body ">
    <div class="container ">
      <h1 class="title has-text-centered is-size-2">
        新規定期予約
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-2">
        <%= form_for @reservation do |f| %>
          <div class="field">
            <%= f.label :count, "日程", class: "label" %>
            <%= f.select :count, [["毎週","毎週"],["毎週(5週目なし)","毎週(5週目なし)"],["第1,3,5週","第1,3,5週"],["第2,4週","第2,4週"]], include_blank: "週間" %>
            <%= f.select :day_of_week, [["月","月"], ["火","火"],["水","水"],["木","木"],["金","金"],["土","土"],["日","日"]], include_blank: "曜日" %>
          </div>

          <div class="field">
            <%= f.select :time_s, [["9:00","9:00"],["9:30","9:30"],["10:00","10:00"],["10:30","10:30"],["11:00","11:00"],["11:30","11:30"],["12:00","12:00"],["12:30","12:30"],["13:00","13:00"],["13:30","13:30"],["14:00","14:00"],["14:30","14:30"],["15:00","15:00"],["15:30","15:30"],["16:00","16:00"],["16:30","16:30"],["17:00","17:00"],["17:30","17:30"],["18:00","18:00"],["18:30","18:30"],["19:00","19:00"],["19:30","19:30"],["20:00","20:00"],["20:30","20:30"],["21:00","21:00"],["21:30","21:30"],["22:00","22:00"],["22:30","22:30"],["23:00","23:00"],["23:30","23:30"],["24:00","24:00"]], include_blank: "開始時間" %>
            〜
            <%= f.select :time_e, [["9:00","9:00"],["9:30","9:30"],["10:00","10:00"],["10:30","10:30"],["11:00","11:00"],["11:30","11:30"],["12:00","12:00"],["12:30","12:30"],["13:00","13:00"],["13:30","13:30"],["14:00","14:00"],["14:30","14:30"],["15:00","15:00"],["15:30","15:30"],["16:00","16:00"],["16:30","16:30"],["17:00","17:00"],["17:30","17:30"],["18:00","18:00"],["18:30","18:30"],["19:00","19:00"],["19:30","19:30"],["20:00","20:00"],["20:30","20:30"],["21:00","21:00"],["21:30","21:30"],["22:00","22:00"],["22:30","22:30"],["23:00","23:00"],["23:30","23:30"],["24:00","24:00"]], include_blank: "終了時間" %>
          </div>

          <div class="field">
            <%= f.label :room, "部屋番号", class: "label" %>
            <%= f.select :room, [["U01","U01"], ["U02","U02"],["U03","U03"],["U04","U04"],["U05","U05"],["U06","U06"],["U07","U07"],["U08","U08"],["U09","U09"],["U10","U10"],["U11","U11"],["701","701"],["702","702"],["703","703"],["704","704"],["801","801"],["802","802"],["803","803"],["804","804"],["805","805"],["806","806"],["807","807"],["808","808"],["809","809"],["810","810"],["811","811"],["812","812"],["813","813"],["814","814"],["815","815"],["901","901"],["902","902"],["903","903"],["904","904"],["905","905"],["906","906"],["907","907"],["908","908"],["909","909"],["910","910"]], include_blank: "選択して下さい" %>
          </div>

          <div class="field">
            <%= f.label :option, "オプション", class: "label" %>
            <%= f.select :option, [["ブルーレイデッキ","ブルーレイデッキ"],["ワイヤレスマイク","ワイヤレスマイク"],["DJセット","DJセット"],["マイク","マイク"],["長机","長机"],["椅子","椅子"],["ホワイトボード","ホワイトボード"],["譜面台","譜面台"],["マイクスタンド","マイクスタンド"],["タップ板","タップ板"],["ヨガマット","ヨガマット"],["キーボード","キーボード"],["パーテーション","パーテーション"],["バレエバー3m","バレエバー3m"],["バレエバー6m","バレエバー6m"],["リングライト","リングライト"],["カラーライト","カラーライト"],["フロント台","フロント台"]], include_blank: "選択して下さい" %>
            ×
            <%= f.select :number_of_option, [["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"],["10","10"]], include_blank: "個数" %>
          </div>

          <%= f.submit '投稿', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>