<section class="hero is-dark">
  <div class="hero-body, is-small">
    <div class="container">
      <h1 class="title has-text-grey-light is-size-2">
        予約詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card", >
          <div class="card-content">
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>予約内容</th>
                </tr>
                <tr>
                  <td><%= @reservation.count %><%= @reservation.day_of_week %>曜日</td>
                </tr>
                  <td>予約時間: <%= @reservation.time_s %>〜<%= @reservation.time_e %></td>
                <tr>
                  <td>部屋番号: <%= @reservation.room %></td>
                </tr>
                <% if @reservation.option.blank? == false %>
                  <tr>
                    <td>OP:<%= @reservation.option %>×<%= @reservation.number_of_option %></td>
                  </tr>
                  <tr>
                    <td>OP2:<%= @reservation.option1 %>×<%= @reservation.number_of_option1 %></td>
                  </tr>
                <% end %>
                <tr>
                  <td><%= link_to "編集", edit_reservation_path(@reservation), class: "button is-primary" %></td>
                  <td>
                    <p class="control">
                      <%= link_to reservation_path(@reservation), method: :delete, data: {confirm: "削除しますか？"}, class: "button is-danger" do %>
                        <span class="panel-icon">
                          <i class="fas fa-trash"></i>
                        </span>
                      削除
                      <% end %>
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @reservation.customer.customername %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @reservation.customer.profile %>
            </p>
          </div>
          <%= link_to customer_path(@reservation.customer), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-customer" aria-hidden="true"></i>
            </span>
            <%= @reservation.customer.customername %> 様の詳細へ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>
